h2{
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
}

.custom-button{
    height: 100px;
    width: 1000px;
    font-size: 40px;
    color: #e3f6f9;
    font-family: "Nanum Myeongjo", serif;
    background-color: #153a3e;
    border: 0px 
}

.ji-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

.su-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

.jae-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

.idea-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

.main-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

Header{
    background-color: #1d4247a4;
    position: sticky;
    top: 0px; /* 도달했을때 고정시킬 위치 */
    padding: 5px;
    border: 1px;
    z-index: 10;
    
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

.Mainbox {
    width: 1300px; /* 사각형의 너비 */
    height: 3000px; /* 사각형의 높이 */
    background-color: #132b2e; /* 사각형의 배경 색상 */
    border: 0px; /* 사각형의 테두리 */
    margin: auto;
    color: #e3f6f9;
}

html {
    scroll-behavior: smooth;
  }

main{
    margin-top: -183px;
}

.jaeim-button{
    background-image: url('img/jae.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    margin-left: -150px;
    background-size: cover;
    position: absolute;
}




.jiim-button{
    background-image: url('img/ji.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    margin-left: -150px;
    background-size: cover;/*안하면 이미지 짤림...*/
    position: absolute; 
}


.suim-button{
    background-image: url('img/IMG_5409.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    margin-left: -150px;
    background-size: cover;
    position: absolute;
}

.suim-button:hover {
    transform: translateX(-200px);
    transition-property: all;
    transition-delay:0.5s;
    transition-duration: 2s;
}

.jaeim-button:hover {
    transform: translateX(-200px);
    transition-property: all;
    transition-delay:0.5s;
    transition-duration: 2s;
}

.jiim-button:hover {
    transform: translateX(-200px);
    transition-property: all;
    transition-delay:0.5s;
    transition-duration: 2s;
    
}

.suinformation{
    color: #132b2e;
    text-align: left;
    margin-left: 610px;
}

.jiinformation{
    color: #132b2e;
    text-align: left;
    margin-left: 610px;
}

.jaeinformation{
    color: #132b2e;
    text-align: left;
    margin-left: 610px;
   
}

.jaewrap{
    position: relative;
}

.move-left{
    text-align: left;
    margin-left: 350px;
    font-size: 15px;
}

.big{
    font-size: 23px;
    font-weight: bolder;
}

a{
    text-decoration: underline;
    color: #e3f6f9;
    font-weight: bolder; 
    font-size: 18px;
}