h2{
    font-family: "Nanum Myeongjo", serif;
}

.custom-button{
    height: 100px;
    width: 1000px;
    font-size: 40px;
    color: #e3f6f9;
    font-family: "Nanum Myeongjo", serif;
    background-color: #153a3e;
    border: 0px 
}

.ji-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

.su-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

.jae-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

.idea-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

.main-button{
    font-family: "Nanum Myeongjo", serif;
    height: 40px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: #e3f6f9;
    background-color: #132b2e;
    border: 0px;
    border-radius: 5px;
}

Header{
    background-color: #1d4247a4;
    position: sticky;
    top: 0px; /* 도달했을때 고정시킬 위치 */
    padding: 5px;
    border: 1px;
    z-index: 10;
    
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

.Mainbox {
    width: 1300px; /* 사각형의 너비 */
    height: 3000px; /* 사각형의 높이 */
    background-color: #132b2e; /* 사각형의 배경 색상 */
    border: 0px; /* 사각형의 테두리 */
    margin: auto;
    color: #e3f6f9;
}

html {
    scroll-behavior: smooth;
  }

main{
    margin-top: -183px;
}

.jaeim-button{
    background-image: url('img/jae.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    background-size: cover;
}



.jiim-button{
    background-image: url('img/ji.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    background-size: cover; /*안하면 이미지 짤림...*/
}


.suim-button{
    background-image: url('img/IMG_5409.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    background-size: cover;
}

