h2{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: #06ABD8;
}

body{
    background-color: #ffffff;
}

.custom-button{
    height: 50px;
    width: 700px;
    float: left;
    margin-left: 20px;
    font-size: 50px;
    background-color: #06ABD8;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    border: 0px 
}

.header-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerimg {
    background-image: url('img/headerimg2.png');
    height: 400px;
    width: 1480px;
    border: 0px;
    top: -120px;
    background-size: cover;
    position: absolute;
    margin-left: -10px;
}

.header-text{
    position:absolute;
    transform: translate(0%,30%);
    top: 17px;
}

.header-text2{
    position:absolute;
    transform: translate(700%,10%);
   
    align-items: center;
    top: 17px;
    
       
}


.header-text3 {
    padding-left: 3px;
    margin-right: -20px;
  }   

a{
    font-weight: bolder;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    text-decoration: none;
    
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

Header{
    background-color: #d4c8c8;
    position: sticky;
    top: -10px; /* 도달했을때 고정시킬 위치 */
    padding: 5px;
    border: 1px;
    z-index: 10;
    text-decoration-line: none;
    
}

.nanum-myeongjo-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.Mainbox {
    width: 1300px; /* 사각형의 너비 */
    height: 3000px; /* 사각형의 높이 */
    background-color: #fff; /* 사각형의 배경 색상 */
    border: 0px; /* 사각형의 테두리 */
    margin-left: 100px;
    color: #06ABD8;
    top:100px;
    
    
}

html {
    scroll-behavior: smooth;
  }

main{
    margin-top: -183px;
}

.jaeim-button{
    background-image: url('img/jae.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    margin-left: -150px;
    background-size: cover;
    position: absolute;
    border-radius:10px;
}




.jiim-button{
    background-image: url('img/ji.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    margin-left: -150px;
    background-size: cover;/*안하면 이미지 짤림...*/
    position: absolute; 
    border-radius:10px;
}


.suim-button{
    background-image: url('img/IMG_5409.jpg');
    height: 400px;
    width: 300px;
    border: 0px;
    margin-left: -150px;
    background-size: cover;
    position: absolute;
    border-radius:10px;
}

.suim-button:hover {
    transform: translateX(-200px);
    transition-property: all;
    transition-delay:0.5s;
    transition-duration: 2s;
}

.jaeim-button:hover {
    transform: translateX(-200px);
    transition-property: all;
    transition-delay:0.5s;
    transition-duration: 2s;
}

.jiim-button:hover {
    transform: translateX(-200px);
    transition-property: all;
    transition-delay:0.5s;
    transition-duration: 2s;
    
}

.suinformation{
    color: #06ABD8;
    text-align: left;
    margin-left: 610px;
    width: 300px;
}
.jiinformation{
    color: #06ABD8;
    text-align: left;
    margin-left: 610px;
    
}

.jaeinformation{
    color: #06ABD8;
    text-align: left;
    margin-left: 610px;
   
}

.jaewrap{
    position: relative;
}

.move-left{
    text-align: left;
    margin-left: 350px;
    font-size: 15px;
    color: #06ABD8;
}

.big{
    font-size: 23px;
    font-weight: bolder;
    color: #06ABD8;
}


.bodyimg{
    background-image: url('img/react.png');
    height: 700px;
    width: 800px;
    top: 1100px;
    background-size: cover;
    position: absolute;
    margin-left: -250px;
    margin-top: 100px;
    opacity: 0.3;
}
.body1{
    position: relative;
}

.bodyimg2{
    background-image: url('img/react.png');
    height: 660px;
    width: 700px;
    top: 400px;
    background-size: cover;
    position: absolute;
    margin-left: 800px;
    margin-top: -100px;
    opacity: 0.3;
}

.bodyimg3{
    background-image: url('img/react.png');
    height: 670px;
    width: 700px;
    top: 2500px;
    background-size: cover;
    position: absolute;
    margin-left: 800px;
    margin-top: -200px;
    opacity: 0.3;

}




hr{
    background-color: #06ABD8;
    height : 3px;
    width: 400px;
    border : 0;
}