header {
    background: rgba(246, 247, 247, 0.8); 
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 0 60px;
    margin-bottom: 15px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    
  }
  
  nav a:hover {
    color: #d4c8c8;
    transition: 0.3;
    
  }
  