.suim-button:focus {
    transform: translateX(-200px);
    transition-property: all;
    transition-duration: 2s;
}

.jaeim-button:focus {
    transform: translateX(-200px);
    transition-property: all;
    transition-duration: 2s;
}

.jiim-button:focus {
    transform: translateX(-200px);
    transition-property: all;
    transition-duration: 2s;
}


.fade-in-section {
    opacity: 0;
    transition: opacity 2s ease-in;
  }
  
.fade-in-section.visible {
    opacity: 1;
}

